.next
node)modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
build
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
*.log
*.lock
.idea
.vscode
*.sublime-project
*.sublime-workspace
coverage
*.tsbuildinfo
*.map
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.tgz
*.7z
*.log
*.pid
